* {
	margin: 0;
	font-family: sans-serif;
}

.reveal {
	display: none;
}

div#loading, div#welcome {
	margin: 10px;
}
div#welcome > p {
	margin-bottom: 10px;
}
div#welcome > table {
	max-width: 800px;
}
td.welcome-pane {
	padding: 20px;
	height: 300px;
}
td.welcome-pane > h1 {
	font-size: 20px;
	margin-bottom: 10px;
}
table#login-form {
	margin-bottom: 10px;
}
tr#privacy {
	font-size: 10px;
	text-decoration: italic;
	color: #333;
}

iframe#changelog {
	height: 100%
}
body.changelog {
	padding: 10px;
}
p.changelog-entry {
	line-height: 1.6;
	margin-bottom: 1em;
}
p.changelog-entry:last-of-type {
	margin-bottom: 0;
}

div#game-view {
	height: 100%;
	width: 100%;
	position: absolute;
}

div#board {
	background-image: url("assets/wood.jpg");
	width: 800px;
	height: 800px;
	border: 1px solid #9c3500;
	position: absolute;
	top: 20px;
	left: 20px;
}

.shade {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 2px;
	color: #ccc;
}
.shade a{
	color: inherit;
	text-decoration: none;
}
.shade a:hover {
	text-decoration: underline;
}

span.left-text {
	float: left;
}
span.right-text {
	float: right;
}

div#message-container {
	position: absolute;
	top: 450px;
	width: 800px;
	text-align: center;
}
span#message {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px;
	color: white;
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
}

.card {
	height: 250px;
	border-radius: 10px;
	border: 5px solid white;
}

#discard-pile, #draw-pile, #draw-pile-animation {
	position: absolute;
	top: 150px;
	transition: 0.3s top, 0.3s left, 0.3s right;
}
#discard-pile {
	left: 125px;
}
#discard-pile:hover {
	left: 120px;
}
#draw-pile {
	right: 125px;
}
#draw-pile:hover {
	right: 120px;
}
#draw-pile .card:hover, #discard-pile .card:hover {
	height: 260px;
}
#draw-pile .card, #discard-pile .card, #draw-pile-animation .card {
	transition: 0.3s height;
	display: block; /* To prevent trailing whitespace */
}
#draw-pile:hover, #discard-pile:hover {
	top: 145px;
}

#draw-pile-animation {
	transition: none;
}

#card-deck {
	overflow: auto;
	white-space: nowrap;
	background-color: rgba(255, 255, 255, 0);
	position: absolute;
	bottom: 0px;
	width: 100%;
}
#card-deck .card {
	height: 150px;
	border-radius: 7px;
	border: 3px solid white;
	transition: 0.3s height;
	margin-right: 5px;
}
#card-deck .card:hover {
	height: 250px;
	border-radius: 10px;
	border: 5px solid white;
}

span#draw-pile-counter {
	position: absolute;
	top: 415px;
	right: 115px;
	width: 185px;
	color: white;
	text-shadow: 1px 1px 1px #222;
}

div#sidebar {
	position: absolute;
	top: 20px;
	left: 840px;
	color: white;
	width: 250px;
	height: 800px;
	display: flex;
	flex-direction: column;
	background-color: black;
	z-index: 1;
}

div.sidebar-box {
	padding: 5px;
	border: 1px solid white;
	margin-bottom: 10px;
}
div.sidebar-box:last-child {
	margin-bottom: 0;
}

div#game-log {
	overflow: auto;
	flex: 1;
	flex-direction: column;
	overflow: auto;
}
div#game-log-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	min-height: min-content;
	overflow: auto;
}

div#chat-container {
	display: flex;
	flex-direction: row;
}
input#chat-message {
	flex: 1 1 auto;
}

div.card-hud {
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: 0.5s opacity;
	padding-top: 200px;
	height: 600px;
	width: 800px;
	position: absolute;
}
div#card-hud > img.card {
	margin: auto;
	height: 400px;
	display: block;
}
div#card-hud-3-wrapper {
	padding-top: 242px;
	height: 558px;
}
div#card-hud-3 {
	text-align: center;
}
div#card-hud-3 > img.card {
	display: inline-block;
	height: 300px;
	margin-right: 20px;
}
div#card-hud-3 > img.card:last-child {
	margin-right: 0;
}

div#modal-hud {
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: 0.5s opacity;
	height: 600px;
	padding-top: 200px;
	width: 800px;
	position: absolute;
}
div#modal {
	background-color: white;
	color: #333;
	width: 360px;
	height: 360px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #777;
	padding: 20px;
	border-radius: 10px;
}
ul#modal-options {
	margin-top: 10px;
	padding-left: 0;
}
ul#modal-options li {
	list-style: none;
	padding: 10px;
	background-color: #a8d9ff;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	border: 2px solid #0090ff;
	margin-bottom: 10px;
	cursor: pointer;
}
ul#modal-options li:hover {
	background-color: #45aeff;
}

div#buttons-container {
	position: absolute;
	top: 830px;
	left: 20px;
}
button.combo-btn.active::before {
	content: "[[ ";
}
button.combo-btn.active::after {
	content: " ]]";
}
